<footer class="site-footer">
    <div class="wrapper">
        <div class="footer-left">
            <div class="footer-col">
                <h4>Address</h4>
                <ul class="social-media-list">
                    <li>756 W Peachtree St NW Suite H, Atlanta, GA 30332</li>
                    <li>james@gohano.com</li>
                </ul>
            </div>
            <div class="footer-col">
            </div>
            <div class="footer-col">
            </div>
        </div>
    </div>
</footer>